@import "../../styles/config.scss";

.container {
  min-height: calc(100vh - 10rem);
  padding: 2rem;
  border-radius: $rounded-xl;
  background: $bg-secondary-color;

  ul {
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 10rem);
    flex-direction: column;
    display: flex;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE (Internet Explorer) and Edge

    &::-webkit-scrollbar {
      display: none; // WebKit-based browsers like Opera, Chrome, and Safari
    }

    li {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(255, 255, 255, 0.05);

      p {
        font-size: map-get($text-base, font-size);
        line-height: map-get($text-base, line-height);
        font-weight: $font-medium;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;

    ul {
      max-height: none;
      overflow-y: visible;
    }
  }
}
