@import "../../styles/config.scss";

.container {
  min-height: calc(100vh - 10rem);
  padding: 2rem;
  border-radius: $rounded-xl;
  background: $bg-secondary-color;
  text-align: center;

  .tableContainer {
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE (Internet Explorer) and Edge

    &::-webkit-scrollbar {
      display: none; // WebKit-based /browsers like Opera, Chrome, and Safari
    }

    table {
      width: 100%;

      th {
        font-size: map-get($text-base, font-size);
        line-height: map-get($text-base, line-height);
        font-weight: $font-semibold;
        text-align: center;

        &:nth-child(2) {
          text-align: left;
        }
      }

      td {
        padding: 1rem 0;
        font-size: map-get($text-base, font-size);
        line-height: map-get($text-base, line-height);
        font-weight: $font-normal;
        border-bottom: 1px solid rgb(255, 255, 255, 0.05);

        &:nth-child(2) {
          text-align: left;
        }

        &.avatarAndName {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 0.7rem;
        }

        img {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .link {
          all: unset;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;

    .tableContainer {
      max-height: none;
      overflow-y: visible;

      table {
        th {
          &:first-child {
            padding-right: 0.25rem;
          }

          &.responsiveStat {
            display: none;
          }
        }

        td {
          &:first-child {
            padding-right: 0.25rem;
          }

          &.responsiveStat {
            display: none;
          }
        }
      }
    }
  }
}
