@import "../../styles/config.scss";

.navBar {
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navList {
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  .loginButton {
    padding: 0.5rem 0.625rem;
    border-radius: 0.375rem;
    background-color: $extra-secondary-color;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

    &:hover {
      background-color: $extra-primary-color;
    }
  }
}
