@import "../../styles/config.scss";

.container {
  width: 14rem;
  max-height: calc(100vh - 6rem);
  padding: 1rem 0.75rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  background: $bg-secondary-color;

  ul {
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE (Internet Explorer) and Edge

    &::-webkit-scrollbar {
      display: none; // WebKit-based browsers like Opera, Chrome, and Safari
    }
  }
}

@media (max-width: 1280px) {
  .container {
    display: none;
  }
}
