@import "../../styles/config.scss";

.container {
  width: 14rem;
  padding: 1rem 0.75rem;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  background: $bg-secondary-color;

  ul {
    max-height: calc(100vh - 6rem);
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    gap: 0.2rem;
    list-style-type: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 4px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    display: none;
  }
}
