@import "../../styles/config.scss";

.container {
  width: 100%;
  margin-top: 0.2rem;
  padding: 0.2rem 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: $rounded-md;
  background: $extra-tertiary-color;
  text-align: center;

  .link {
    width: 100%;
    font-size: map-get($text-xs, font-size);
    line-height: map-get($text-xs, line-height);
    font-weight: $font-medium;
    text-decoration: none;
    color: $text-primary-color;

    &:hover {
      color: white;
    }
  }

  button {
    width: 100%;
    border: none;
    background: transparent;
    font-size: map-get($text-xs, font-size);
    line-height: map-get($text-xs, line-height);
    font-weight: $font-medium;
    color: $text-primary-color;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
