@import "../../styles/config.scss";

.container {
  width: 50rem;
  min-height: 40rem;
  padding: 1rem;
  border-radius: 1.875rem;
  background: $bg-secondary-color;

  h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
  }
}
