@import "../../styles/config.scss";

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  button {
    all: unset;
    padding: 0.35rem 0.75rem;
    border-radius: $rounded-lg;
    background: $extra-secondary-color;
    transition: background 0.3s ease;
    font-size: map-get($text-base, font-size);
    line-height: map-get($text-base, line-height);
    font-weight: $font-medium;
    color: white;
    cursor: pointer;

    &:hover {
      background: $extra-primary-color;
    }
  }

  .menu {
    position: absolute;
    z-index: 9999;
    padding: 0.25rem;
    top: calc(100% + 0.25rem);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: $rounded-lg;
    background: $extra-tertiary-color;

    button {
      all: unset;
      padding: 0.5rem;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.45rem;
      border-radius: $rounded-md;
      transition: color 0.3s ease, background 0.3s ease;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: $extra-primary-color;
        color: white;
      }

      p {
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-normal;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .menu {
      right: auto;
    }
  }
}
