@import "../../styles/config.scss";

.container {
  min-height: calc(100vh - 10rem);
  padding: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
  // background: $bg-secondary-color;
}
