@import "../../styles/config.scss";

.container {
  .details {
    margin-top: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;

    img {
      width: 12rem;
      height: 12rem;
      border: 2px solid $extra-primary-color;
      border-radius: 50%;
      object-fit: cover;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .data:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .data {
        height: 2rem;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 0.5rem;
        border-bottom: 1px solid $extra-primary-color;

        .icon {
          width: 1rem;
          height: 1rem;
        }

        .type {
          width: 7rem;
          margin: 0;
          font-size: map-get($text-sm, font-size);
          line-height: map-get($text-sm, line-height);
          font-weight: $font-medium;
        }

        .value {
          margin: 0;
          font-size: map-get($text-sm, font-size);
          line-height: map-get($text-sm, line-height);
          font-weight: $font-normal;
        }
      }
    }
  }
}
