@import "../../styles/config.scss";

.container {
  border-radius: $rounded-lg;
  background: $bg-secondary-color;

  .header {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-top-left-radius: $rounded-lg;
    border-top-right-radius: $rounded-lg;
    background: $extra-primary-color;
    color: white;

    .icon {
      height: 1.15rem;
      width: 1.15rem;
    }
  }

  .details {
    padding: 2rem;
    flex-direction: column;
    display: flex;
    align-items: left;
    border-bottom-left-radius: $rounded-lg;
    border-bottom-right-radius: $rounded-lg;

    .percentages {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wonPercentage {
        margin: 0;
        font-size: map-get($text-2xl, font-size);
        line-height: map-get($text-2xl, line-height);
        font-weight: $font-bold;
        color: #81b64c;
      }

      .lostPercentage {
        margin: 0;
        font-size: map-get($text-2xl, font-size);
        line-height: map-get($text-2xl, line-height);
        font-weight: $font-bold;
        color: #e02827;
      }
    }

    .statsBar {
      width: 30rem;
      display: flex;
      height: 1rem;
      border-radius: $rounded-lg;
      background: $extra-tertiary-color;

      .wonPart {
        border-top-left-radius: $rounded-lg;
        border-bottom-left-radius: $rounded-lg;
        background: #81b64c;
      }

      .lostPart {
        border-top-right-radius: $rounded-lg;
        border-bottom-right-radius: $rounded-lg;
        background: #e02827;
      }
    }
  }

  .stats {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .win {
      margin: 0;
      font-size: map-get($text-sm, font-size);
      line-height: map-get($text-sm, line-height);
      font-weight: $font-normal;
      color: #81b64c;
    }

    .lost {
      margin: 0;
      font-size: map-get($text-sm, font-size);
      line-height: map-get($text-sm, line-height);
      font-weight: $font-medium;
      color: #e02827;
    }
  }
}
