@import "../../styles/config.scss";

.container {
  .details {
    margin-top: 1.5rem;
    flex-direction: column;
    display: flex;
    align-items: left;

    .percentages {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        font-size: map-get($text-2xl, font-size);
        line-height: map-get($text-2xl, line-height);
        font-weight: $font-bold;

        &.wonPercentage {
          color: #81b64c;
        }

        &.lostPercentage {
          color: #e02827;
        }
      }
    }

    .statsBar {
      display: flex;
      height: 1rem;
      border-radius: $rounded-lg;
      background: $extra-tertiary-color;

      .wonPart {
        border-top-left-radius: $rounded-lg;
        border-bottom-left-radius: $rounded-lg;
        background: #81b64c;
      }

      .lostPart {
        border-top-right-radius: $rounded-lg;
        border-bottom-right-radius: $rounded-lg;
        background: #e02827;
      }
    }
  }

  .stats {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: map-get($text-sm, font-size);
      line-height: map-get($text-sm, line-height);
      font-weight: $font-normal;

      &.win {
        color: #81b64c;
      }

      &.lost {
        color: #e02827;
      }
    }
  }
}
