@import "../styles/config.scss";

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    max-width: 40rem;
    margin: auto;
    padding: 2rem;
    text-align: center;

    h1 {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 10rem;
        font-weight: 700;
      }

      img {
        width: 8rem;
        height: 8rem;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
    }

    p {
      margin-top: 0.8rem;
      font-size: 1rem;
      font-weight: 500;
      color: #939aa3;
    }

    .homeLink {
      font-size: 1rem;
      font-weight: 600;
      color: $text-primary-color;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .error {
      h1 {
        span {
          font-size: 8rem;
        }

        img {
          width: 6rem;
          height: 6rem;
        }
      }

      h2 {
        font-size: 1.125rem;
      }

      p {
        font-size: 0.825rem;
      }

      .homeLink {
        font-size: 0.9rem;
      }
    }
  }
}
