@import "../styles/config.scss";

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  color: $text-primary-color;

  .icon {
    margin-right: 0.625rem;
    width: 2rem;
    height: 2rem;
  }
}
