@import "../styles/config.scss";

.mainLink {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: map-get($text-2xl, font-size);
  line-height: map-get($text-2xl, line-height);
  font-weight: $font-semibold;
  text-decoration: none;
  color: $text-primary-color;

  .icon {
    margin-right: 0.6rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .mainLink {
    font-size: map-get($text-xl, font-size);
    line-height: map-get($text-xl, line-height);
    font-weight: $font-semibold;
  }
}
