/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

$bg-primary-color: #171930;
$bg-secondary-color: #25273f;

$extra-primary-color: #7090e9;
$extra-secondary-color: #5064fb;
$extra-tertiary-color: #374151;

$text-primary-color: #e2e8f0;
$text-secondary-color: #7e848c;

$sucess-primary-color: #2f8635;
$sucess-secondary-color: #3aa043;
