@import "config";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background: $bg-primary-color;
  color: $text-primary-color;
  font-family: "Montserrat", sans-serif;

  h1 {
    margin: 0;
    font-size: map-get($text-2xl, font-size);
    line-height: map-get($text-2xl, line-height);
    font-weight: $font-semibold;
  }

  h2 {
    margin: 0;
    font-size: map-get($text-lg, font-size);
    line-height: map-get($text-lg, line-height);
    font-weight: $font-semibold;
  }

  h3 {
    margin: 0;
    font-size: map-get($text-base, font-size);
    line-height: map-get($text-base, line-height);
    font-weight: $font-medium;
  }

  p {
    margin: 0;
    font-size: map-get($text-sm, font-size);
    line-height: map-get($text-sm, line-height);
  }

  button {
    font-family: "Montserrat", sans-serif;
  }

  input {
    font-family: "Montserrat", sans-serif;
  }
}
