@import "../../styles/config.scss";

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .form {
    max-width: 22rem;
    padding: 2rem;
    flex-direction: column;
    display: flex;
    align-items: left;
    gap: 1rem;
    border-radius: $rounded-2xl;
    background: $bg-secondary-color;
    color: $text-primary-color;
    text-align: center;

    .error {
      width: 22rem;
      padding: 0.5rem 0.5rem;
      box-sizing: border-box;
      border: none;
      border-radius: $rounded-md;
      background: #f8d7da;

      p {
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-normal;
        text-align: center;
        color: #721c24;
      }
    }

    .input {
      flex-direction: column;
      display: flex;
      align-items: left;
      gap: 0.25rem;

      label {
        display: block;
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-medium;
        text-align: left;
      }

      input {
        width: 22rem;
        height: 2.5rem;
        padding-left: 1rem;
        box-sizing: border-box;
        border: none;
        border-radius: $rounded-md;
        outline: none;
        background: $extra-tertiary-color;
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        color: $text-primary-color;
      }
    }

    .submitBtn {
      button {
        width: 22rem;
        height: 2.5rem;
        box-sizing: border-box;
        border: none;
        border-radius: $rounded-md;
        background: $extra-secondary-color;
        font-size: map-get($text-base, font-size);
        line-height: map-get($text-base, line-height);
        font-weight: $font-medium;
        font-weight: 500;
        color: white;
        cursor: pointer;

        &:hover {
          background: $extra-primary-color;
        }
      }
    }

    .fortyTwoBtn {
      button {
        width: 22rem;
        height: 2.5rem;
        box-sizing: border-box;
        border: none;
        border-radius: $rounded-md;
        background: #36babb;
        font-size: map-get($text-base, font-size);
        line-height: map-get($text-base, line-height);
        font-weight: $font-medium;
        color: white;
        cursor: pointer;

        &:hover {
          background: #48c7c7;
        }
      }
    }

    .help {
      text-align: center;

      span {
        font-size: 0.875rem;
        font-weight: 300;
        color: #9ca3af;
      }

      .link {
        margin-left: 0.3rem;
        font-size: 0.875rem;
        font-weight: 500;
        text-decoration: none;
        color: #9ca3af;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .form {
      padding: 1rem;

      .title {
        margin: 0;
        font-size: map-get($text-lg, font-size);
        line-height: map-get($text-lg, line-height);
        font-weight: $font-semibold;
      }

      .input {
        input {
          width: 15rem;
        }
      }

      .submitBtn {
        button {
          width: 15rem;
        }
      }

      .fortyTwoBtn {
        button {
          width: 15rem;
        }
      }
    }
  }
}
