@import "../styles/config.scss";

.container {
  padding: 0.325rem 1.5rem 0.325rem 1.5rem;
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    margin: 0;
    font-size: 0.875rem;
  }

  .gitHubButton {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    .gitHubIcon {
      width: 1.5rem;
      height: 1.5rem;
      color: $text-primary-color;
    }
  }
}
