@import "../../styles/config.scss";

.profileSettings {
  flex-direction: column;
  display: flex;
  align-items: left;
  gap: 0.5rem;

  .dataToSubmit {
    display: flex;
    justify-content: space-between;
    align-items: left;

    .inputText {
      flex-direction: column;
      display: flex;
      align-items: left;
      gap: 0.5rem;

      label {
        display: block;
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-medium;
      }

      input {
        max-width: 20rem;
        height: 2rem;
        padding-left: 1rem;
        box-sizing: border-box;
        border: none;
        border-radius: $rounded;
        outline: none;
        background: $extra-tertiary-color;
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-normal;
        color: $text-primary-color;
      }

      p {
        margin-left: 0.25rem;
        font-size: map-get($text-xs, font-size);
        line-height: map-get($text-xs, line-height);
        font-weight: $font-normal;
        color: $text-secondary-color;
      }
    }

    .inputFile {
      position: relative;
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
        display: block;
        font-size: map-get($text-sm, font-size);
        line-height: map-get($text-sm, line-height);
        font-weight: $font-medium;
      }

      img {
        width: 12rem;
        height: 12rem;
        border: 3px solid $extra-primary-color;
        border-radius: 50%;
        object-fit: cover;
      }

      .chooseFile {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: $rounded-lg;
        background: $extra-primary-color;
        transition: background-color 0.3s;
        color: white;
        cursor: pointer;

        input {
          display: none;
        }
      }
    }
  }

  button {
    margin-top: 0.5rem;
    margin-right: auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $rounded-lg;
    background: $sucess-primary-color;
    transition: background-color 0.3s;
    font-size: map-get($text-sm, font-size);
    line-height: map-get($text-sm, line-height);
    font-weight: $font-normal;
    color: white;
    cursor: pointer;

    &:hover {
      background: $sucess-secondary-color;
    }
  }
}

@media (max-width: 768px) {
  .profileSettings {
    text-align: center;

    .dataToSubmit {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .inputText {
        align-items: center;

        input {
          width: 15rem;
        }
      }
    }

    button {
      margin-top: 1rem;
      margin-right: 0;
    }
  }
}
