@import "../../styles/config.scss";

.container {
  // min-height: calc(100vh - 10rem);
  padding: 2rem;
  border-radius: $rounded-xl;
  background: $bg-secondary-color;

  .settings {
    flex-direction: column;
    display: flex;
    gap: 2rem;
  }
}
